 :root {

    --snow:#FFFAFA;
    --light-grey:#D3D3D3;

 }

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D3D3D3; 
    margin: 0;
}


.login-box {
    width: 100%;
    max-width: 500px; 
    background-color: #FFFAFA;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.button-group {
    display: flex;
    gap: 10px;
    justify-content: center; 
}


